<a href="https://colab.research.google.com/github/JigarRajput/Market-basket-analysis/blob/main/Datamining.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Market Basket analysis using **Apriori algorithm**

---

Installing python library for Association Rule Mining

In [11]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=ae26443b3d6cf6db72802a512db64301226c89f9faa4f77525953e143497a896
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

importing necessary modules into the notebook

In [12]:
from apyori import apriori
import pandas as pd

Reading the data in csv into pandas dataframe

In [15]:
dataset = pd.read_csv("market_basket_data.csv")
#Using head function to display top five rows
dataset.head()

   transaction time_stamp  ID age_group fresh_fruit sea_food
0          1.0      april   1    senior      orange     tuna
1          NaN      april   2      teen      banana     tuna
2          NaN      april   4      teen      banana     tuna
3          2.0       june   1    senior      orange  anchovy
4          NaN       june   3     adult      banana     tuna

Converting dataframe into 2-dimensional array because method implementing the algorithm accepts data in 2-D array

In [30]:
dataArray =[]
for i in range(0,12):
  dataArray.append([str(updated_dataset.values[i,j]) for j in range(0,3)])

In [31]:
#applying apriori algorithm
association_rules = apriori(dataArray, min_support=0.0045, min_confidence=0.2, min_lift=3, min_length=2)
association_results = list(association_rules)

In [32]:
print(association_results)

[RelationRecord(items=frozenset({'anchovy', 'adult', 'orange'}), support=0.08333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'anchovy'}), items_add=frozenset({'adult', 'orange'}), confidence=0.25, lift=3.0), OrderedStatistic(items_base=frozenset({'adult', 'orange'}), items_add=frozenset({'anchovy'}), confidence=1.0, lift=3.0)]), RelationRecord(items=frozenset({'tuna', 'senior', 'orange'}), support=0.08333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'senior'}), items_add=frozenset({'tuna', 'orange'}), confidence=0.25, lift=3.0), OrderedStatistic(items_base=frozenset({'tuna', 'orange'}), items_add=frozenset({'senior'}), confidence=1.0, lift=3.0)]), RelationRecord(items=frozenset({'teen', 'tuna ', 'orange'}), support=0.08333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tuna '}), items_add=frozenset({'teen', 'orange'}), confidence=1.0, lift=12.0), OrderedStatistic(items_base=frozenset({'teen', 'orange'}), items_add=frozenset({'tuna '}), confidence=1.0, lift=12.0)])]

Here we are going to display Rule, Support, and lift ratio for every above association rule by using for loop.

In [47]:
for record in association_results: 
  # record is one of the items of the list which contains item sets and its rules
  print("Item set: "+ str(record[0]))
  print("Item set's support: " + str(record[1]) +"\n")
  rules = record[2]
  for rule in rules:
    base_item = rule[0]
    applied_by_rule = rule[1]
    confidence = rule[2]
    lift = rule[3]
    print(str(base_item) + " -> " + str(applied_by_rule))
    print("Confidence: " + str(confidence))
    print("Lift: " + str(lift))
    print("-----------------------------------")

Item set: frozenset({'anchovy', 'adult', 'orange'})
Item set's support: 0.08333333333333333

frozenset({'anchovy'}) -> frozenset({'adult', 'orange'})
Confidence: 0.25
Lift: 3.0
-----------------------------------
frozenset({'adult', 'orange'}) -> frozenset({'anchovy'})
Confidence: 1.0
Lift: 3.0
-----------------------------------
Item set: frozenset({'tuna', 'senior', 'orange'})
Item set's support: 0.08333333333333333

frozenset({'senior'}) -> frozenset({'tuna', 'orange'})
Confidence: 0.25
Lift: 3.0
-----------------------------------
frozenset({'tuna', 'orange'}) -> frozenset({'senior'})
Confidence: 1.0
Lift: 3.0
-----------------------------------
Item set: frozenset({'teen', 'tuna ', 'orange'})
Item set's support: 0.08333333333333333

frozenset({'tuna '}) -> frozenset({'teen', 'orange'})
Confidence: 1.0
Lift: 12.0
-----------------------------------
frozenset({'teen', 'orange'}) -> frozenset({'tuna '})
Confidence: 1.0
Lift: 12.0
-----------------------------------